body{
    background-color: rgb(236, 226, 214);
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
h1{
    color: brown;
    cursor: pointer;
}
h1:hover{
    color: rgb(255, 0, 0);
    
}
h2{
    color: rgb(1, 21, 136);
    cursor: pointer;
}
h2:hover{
    color: rgb(47, 0, 255);

    
}
.p{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.parrafo-3{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}